<p id="notice"><%= notice %></p>

<h1><%= I18n.t('Product.view.Listing_Products') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Product.model.Name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.nome %></td>
        <td colspan="3">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= I18n.t('Actions') %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to I18n.t('Show'), product %></li>
              <li><%= link_to I18n.t('Edit'), edit_product_national_path(product) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to I18n.t('Destroy'), product, method: :delete, data: { confirm: I18n.t('Are_you_sure?') } %></li>
            </ul>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('Product.view.New_Product'), new_product_national_path %>
