<p id="notice"><%= notice %></p>

<p>
  <strong>Observacao:</strong>
  <%= @note.observacao %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @note.contato %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
