<h1><%= t('.title') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.credit/document.name') %></th>
      <th><%= t('activerecord.attributes.credit/document.frequency_unity') %></th>
      <th><%= t('activerecord.attributes.credit/document.frequency_number') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_client_warranty_document_lists.each do |credit_client_warranty_document_list| %>
      <tr>
        <td><%= credit_client_warranty_document_list.name %></td>
        <td><%= credit_client_warranty_document_list.frequencyUnityText  %></td>
        <td><%= credit_client_warranty_document_list.frequency_number %></td>
        <td><%= link_to t('show'), credit_client_warranty_document_list %></td>
        <td><%= link_to t('edit'), edit_credit_client_warranty_document_list_path(credit_client_warranty_document_list) %></td>
        <td><%= link_to t('destroy'), credit_client_warranty_document_list, method: :delete, data: { confirm: t('Are_you_sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.add'), new_credit_client_warranty_document_list_path %>
