<%= simple_form_for(@credit_client_partner_basis) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :credit_client_general %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
