<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit_client_partner_basis.name %>
</p>

<p>
  <strong>Credit client general:</strong>
  <%= @credit_client_partner_basis.credit_client_general %>
</p>

<%= link_to 'Edit', edit_credit_client_partner_basis_path(@credit_client_partner_basis) %> |
<%= link_to 'Back', credit_client_partner_bases_path %>
