
<div class="row form-item">
  <%= f.hidden_field :id %>
  <div class="form-group col-md-3">
    <%= f.label :pais %>
    <div class=""><%= f.country_select :pais,{ priority_countries: ["BR"], selected: "BR" }, {class: 'form-control select'} %></div>
  </div>
  <div class="col-md-3"><%= f.input :estado%></div>
  <div class="col-md-3"><%= f.input :cidade %></div>
  <div class="checkbox col-md-3">
    <label>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, I18n.t('remove') %>
    </label>
  </div>
</div>
