<%= f.hidden_field :id %>
<div class="row form-item">
  <div class="col-md-2"><%= f.input :ddd%></div>
  <div class="col-md-4"><%= f.input :telefone%></div>
  <div class="col-md-4"><%= f.input :tipo%></div>
  <div class="checkbox col-md-2">
    <label>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, I18n.t('remove') %>
    </label>
  </div>
</div>
