<%= f.fields_for :telefones do |f| %>
    <%= f.hidden_field :id %>
    <div class="row form-item">

      <%= f.label :ddd, class: "col-md-2 control-label" %>
      <div class="form-group col-md-1">
        <div class=""><%= f.text_field :ddd, class: "form-control" %></div>
      </div>


      <%= f.label :telefone, class: "col-md-1 control-label" %>
      <div class="form-group col-md-2">
        <%= f.text_field :telefone, class: "form-control" %>
      </div>

      <%= f.label :tipo, class: "col-md-1 control-label" %>
      <div class="form-group col-md-2">
        <div class=""><%= f.text_field :tipo, class: "form-control" %></div>
      </div>

      <div class="checkbox col-md-3">
        <label>
          <%= f.check_box :_destroy %>
          <%= f.label :_destroy, 'remove' %>
        </label>
      </div>
    </div>
<% end %>