<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contato.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contato.last_name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @contato.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @contato.email2 %>
</p>

<p>
  <strong>Home fone:</strong>
  <%= @contato.home_fone %>
</p>

<p>
  <strong>Business fone:</strong>
  <%= @contato.business_fone %>
</p>

<p>
  <strong>Mobile fone:</strong>
  <%= @contato.mobile_fone %>
</p>

<p>
  <strong>Home city:</strong>
  <%= @contato.home_city %>
</p>

<p>
  <strong>Home state:</strong>
  <%= @contato.home_state %>
</p>

<p>
  <strong>Home country:</strong>
  <%= @contato.home_country %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contato.notes %>
</p>

<p>
  <strong>Web page:</strong>
  <%= @contato.web_page %>
</p>

<h2>Room Categories</h2>
<% if @contato.emails.any? %>
    <ul>
      <% @contato.emails.each do |email| %>
          <li><%= email.email %></li>
      <% end %>
    </ul>
<% else %>
    <p>none available</p>
<% end %>
<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
