<section id="dados">
  <div class="row">
    <div class="col-md-12"><h3><%= @contato.full_name %></h3></div>
  </div>
</section>

<section id="telefones" class="col-md-6">
  <div class="row">
    <div class="col-md-12"><h4><strong><%= I18n.t('Contact.model.Phones') %></strong></h4></div>
  </div>
  <% if @contato.telefones.any? %>
    <% @contato.telefones.each do |telefone| %>
        <div class="row">
          <div class="col-md-12"><p><%= telefone.ddd.blank? ? '' : "(#{telefone.ddd})"%> <%= "#{telefone.telefone} | #{telefone.tipo}" %></p></div>
        </div>
    <% end %>
    <% else %>
      <div class="row">
        <div class="col-md-12"><p><%= I18n.t('Contact.view.no_registred', entitie: t('Contact.model.Phone')) %></p></div>
      </div>
    <% end %>
  <hr>
</section>

<section id="emails" class="col-md-6">
  <div class="row">
    <div class="col-md-12"><h4><strong><%= I18n.t('Contact.model.Emails') %></strong></h4></div>
  </div>
  <% if @contato.emails.any? %>
      <% @contato.emails.each do |email| %>
          <div class="row">
            <div class="col-md-12"><p><%= email.email %></p></div>
          </div>
      <% end %>
  <% else %>
      <div class="row">
        <div class="col-md-12"><p><%= I18n.t('Contact.view.no_registred', entitie: t('Contact.model.Email')) %></p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="enderecos" class="col-md-12">
  <div class="row">
    <div class="col-md-12"><h4><strong>Endereços</strong></h4></div>
  </div>
  <% if @contato.enderecos.any? %>
    <% @contato.enderecos.each do |endereco| %>
        <div class="row">
          <div class="col-md-12"><p><%= "#{endereco.cidade} - #{endereco.estado} | #{endereco.pais}" %></p></div>
        </div>
    <% end %>
  <% else %>
      <div class="row">
        <div class="col-md-12"><p><%= I18n.t('Contact.view.no_registred', entitie: t('Contact.model.Address')) %></p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="adicionais">
  <div class="row">
    <div class="col-md-2"><p><strong>Web site</strong></p></div>
    <div class="col-md-10"><p><%= @contato.web_page %></p></div>
  </div>
</section>

<section id="Products">
  <div class="row">
    <div class="col-md-12"><h4><strong>Trabalha com</strong></h4></div>
  </div>
  <div class="row">
    <% if @contato.product_generals.any? %>
      <% @contato.product_generals.each do |produto| %>
            <div class="col-md-3"><p><%= produto.nome %></p></div>
      <% end %>
    <% else %>
        <div class="col-md-12"><h5><%= I18n.t('Contact.view.no_registred', entitie: t('Contact.model.Product')) %></h5></div>
    <% end %>
  </div>
</section>
<hr>

<section id="Observações">
  <div class="row">
    <div class="col-md-12"><h4><strong>Observações</strong></h4></div>
  </div>
  <%= render 'notes/index', :@notes => @contato.notes %>
</section>
<hr>

<section id="ObservaçõesForm">
  <%= form_for([@contato, @contato.notes.build]) do |f| %>
      <div class="form-group">
        <%= f.label :observacao, t('Contact.view.Add_Note'), class: "control-label" %>
        <%= f.text_area :observacao, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit t('Send'), class: "btn btn-primary" %>
      </div>
  <% end %>
</section>


<%= link_to I18n.t('Edit'), edit_contato_path(@contato) %> |
<%= link_to I18n.t('Back'), contatos_path %>