<p id="notice"><%= notice %></p>

<section id="dados">
  <div class="row">
    <div class="col-md-12"><h3><%= @contato.full_name %></h3></div>
  </div>
</section>

<section id="telefones">
  <div class="row">
    <div class="col-md-12"><h4><strong>Telefones</strong></h4></div>
  </div>

  <% @contato.telefones.each do |telefone| %>
      <div class="row">
        <div class="col-md-12"><p><%= telefone.ddd.blank? ? '' : "(#{telefone.ddd})"%> <%= "#{telefone.telefone} | #{telefone.tipo}" %></p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="emails">
  <div class="row">
    <div class="col-md-12"><h4><strong>Emails</strong></h4></div>
  </div>
  <% if @contato.emails.any? %>
      <% @contato.emails.each do |email| %>
          <div class="row">
            <div class="col-md-12"><p><%= email.email %></p></div>
          </div>
      <% end %>
  <% else %>
      <div class="row">
        <div class="col-md-12"><p>Sem Emails Cadastrados</p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="enderecos">
  <div class="row">
    <div class="col-md-12"><h4><strong>Endereços</strong></h4></div>
  </div>
  <% if @contato.enderecos.any? %>
    <% @contato.enderecos.each do |endereco| %>
        <div class="row">
          <div class="col-md-12"><p><%= "#{endereco.cidade} - #{endereco.estado} | #{endereco.pais}" %></p></div>
        </div>
    <% end %>
  <% else %>
      <div class="row">
        <div class="col-md-12"><p>Sem Endereços Cadastrados</p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="adicionais">
  <div class="row">
    <div class="col-md-2"><p><strong>Web site</strong></p></div>
    <div class="col-md-10"><p><%= @contato.web_page %></p></div>
  </div>
</section>

<section id="Observações">
  <div class="row">
    <div class="col-md-2"><h4><strong>Observaçoes</strong></h4></div>
    <div class="col-md-10"><h4><%= @contato.notes %></h4></div>
  </div>
</section>

<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
