<p id="notice"><%= notice %></p>

<section id="dados">
  <div class="row">
    <div class="col-md-12"><h3><%= @contato.full_name %></h3></div>
  </div>
</section>

<section id="telefones" class="col-md-6">
  <div class="row">
    <div class="col-md-12"><h4><strong>Telefones</strong></h4></div>
  </div>

  <% @contato.telefones.each do |telefone| %>
      <div class="row">
        <div class="col-md-12"><p><%= telefone.ddd.blank? ? '' : "(#{telefone.ddd})"%> <%= "#{telefone.telefone} | #{telefone.tipo}" %></p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="emails" class="col-md-6">
  <div class="row">
    <div class="col-md-12"><h4><strong>Emails</strong></h4></div>
  </div>
  <% if @contato.emails.any? %>
      <% @contato.emails.each do |email| %>
          <div class="row">
            <div class="col-md-12"><p><%= email.email %></p></div>
          </div>
      <% end %>
  <% else %>
      <div class="row">
        <div class="col-md-12"><p>Sem Emails Cadastrados</p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="enderecos" class="col-md-12">
  <div class="row">
    <div class="col-md-12"><h4><strong>Endereços</strong></h4></div>
  </div>
  <% if @contato.enderecos.any? %>
    <% @contato.enderecos.each do |endereco| %>
        <div class="row">
          <div class="col-md-12"><p><%= "#{endereco.cidade} - #{endereco.estado} | #{endereco.pais}" %></p></div>
        </div>
    <% end %>
  <% else %>
      <div class="row">
        <div class="col-md-12"><p>Sem Endereços Cadastrados</p></div>
      </div>
  <% end %>
  <hr>
</section>

<section id="adicionais">
  <div class="row">
    <div class="col-md-2"><p><strong>Web site</strong></p></div>
    <div class="col-md-10"><p><%= @contato.web_page %></p></div>
  </div>
</section>

<section id="Observações">
  <div class="row">
    <div class="col-md-8"><h4><strong>Observações</strong></h4></div>
    <div class="col-md-2"><h4>Criada em</h4></div>
    <div class="col-md-2"><h4>Atualizada em</h4></div>
  </div>
  <% if @contato.notes.any? %>
      <% @contato.notes.each do |note| %>
        <div class="row">
          <div class="col-md-8"><p><%= note.observacao %></p></div>
          <div class="col-md-2"><p><%= note.created_at %></p></div>
          <div class="col-md-2"><p><%= note.updated_at %></p></div>
        </div>
          <hr>
      <% end %>
  <% else %>
      <div class="row">
        <div class="col-md-12"><h5><strong>Nenhuma Observação Cadastrada</strong></h5></div>
      </div>
  <% end %>

</section>
<hr>
<section id="ObservaçõesForm">
  <%= form_for([@contato, @contato.notes.build]) do |f| %>
      <div class="form-group">
        <%= f.label :observacao, 'Adicionar Observação', class: "control-label" %>
        <%= f.text_area :observacao, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit 'Enviar', class: "btn btn-primary" %>
      </div>
  <% end %>
</section>


<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>