<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.agency') %></th>
      <th><%= t('.contato') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_bank_generals.each do |credit_bank_general| %>
      <tr>
        <td><%= credit_bank_general.name %></td>
        <td><%= credit_bank_general.agency %></td>
        <td><%= credit_bank_general.contato %></td>
        <td><%= link_to t('.show'), credit_bank_general %></td>
        <td><%= link_to t('.edit'), edit_credit_bank_general_path(credit_bank_general) %></td>
        <td><%= link_to t('.destroy'), credit_bank_general, method: :delete, data: { confirm: t('.message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_credit_bank_general_path %>
