<h1><%= t('activerecord.models.usuario/general') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.usuario/general.name') %></th>
      <th><%= t('activerecord.attributes.usuario/general.last_name') %></th>
      <th><%= t('activerecord.attributes.usuario/general.user') %></th>
      <th><%= t('activerecord.attributes.usuario/general.role') %></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario_generals.each do |usuario_general| %>
      <tr>
        <td><%= usuario_general.name %></td>
        <td><%= usuario_general.last_name %></td>
        <td><%= usuario_general.user.email %></td>
        <td><%= usuario_general.usuario_role.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

