<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table class="table">
  <thead class="header-table">
    <tr>
      <th><%= t('.date_entry') %></th>
      <th><%= t('.subject') %></th>
      <th>Contato</th>
      <th><%= t('.product') %></th>
      <th><%= t('.product') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_generals.each do |business_general| %>
      <tr>
        <td><%= business_general.date_entry %></td>
        <td><%= business_general.subject %></td>
        <td><% business_general.contatos.each do |contato| %>
          <%= contato.full_name %>,
          <% end %></td>
        <td><%= !business_general.product_general.nil? ? business_general.product_general.nome :  '--'  %></td>
        <td><%= business_general.getType %></td>
        <td><%= link_to t('.show'), business_general %></td>
        <td><%= link_to t('.edit'), edit_business_site_path(business_general) %></td>
        <td><%= link_to t('.destroy'), business_general, method: :delete, data: { confirm: t('.destroy_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_business_site_path %>
