
<div class="row form-item">
  <%= f.hidden_field :id %>
  <div class="form-group col-md-2">
    <div class=""><%= f.text_field :country, class: 'form-control', placeholder:true %></div>
  </div>
  <div class="form-group col-md-2">
    <%= f.text_field :state, class: 'form-control', placeholder:true %>
  </div>
  <div class="form-group col-md-3">
    <div class=""><%= f.text_field :city, class: 'form-control', placeholder:true %></div>
  </div>
  <div class="form-group col-md-3">
    <div class=""><%= f.text_field :neighborhood, class: 'form-control', placeholder:true %></div>
  </div>

  <div class="checkbox col-md-2">
    <label>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, I18n.t('remove') %>
    </label>
  </div>
</div>
<div class="row form-item">


  <div class="form-group col-md-5">
    <%= f.text_field :street, class: 'form-control', placeholder:true %>
  </div>

  <div class="form-group col-md-1">
    <div class=""><%= f.text_field :number, class: 'form-control', placeholder:true %></div>
  </div>

  <div class="form-group col-md-4">
    <div class=""><%= f.text_field :zipcode, class: 'form-control', placeholder:true %></div>
  </div>

</div>
<hr>
