
<div class="row form-item">
  <%= f.hidden_field :id %>
  <%= f.label :name, class: 'col-md-1 form-label' %>
  <div class="form-group col-md-5">
    <div class=""><%= f.text_field :name, class: 'form-control' %></div>
  </div>

  <%= f.label :value, class: "col-md-1  form-label" %>
  <div class="form-group col-md-3">
    <%= f.number_field :value, class: 'form-control' %>
  </div>

  <div class="checkbox col-md-2">
    <label>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, I18n.t('remove') %>
    </label>
  </div>
</div>
<div class="row form-item">
  <%= f.label :credit_bank_general, class: 'col-md-1  form-label' %>
  <div class="form-group col-md-4">
    <div class=""><%= f.select :credit_bank_general, Credit::Bank::General.all.collect {|p| [p.full_name, p.id]}, {include_blank: t('Contact.view.none')}, {class: 'form-control', placeholder: 'Tags' } %></div>
  </div>

  <%= f.label :date, class: "col-md-1  form-label" %>
  <div class="form-group col-md-3">
    <div class=""><%= f.date_field :date, class: 'form-control'%></div>
  </div>

  <%= f.label :status, class: "col-md-1  form-label" %>
  <div class="form-group col-md-2">
    <div class=""><%= f.select :status, [[ 'Pendente', 0], [ 'Aprovado', 1]],{include_blank: t('Contact.view.none')}, {class: 'form-control', placeholder: 'Tags' } %></div>

  </div>
</div>
<div class="row form-item">
  <%= f.label :note, class: 'col-md-1  form-label' %>
  <div class="form-group col-md-11">
    <div class=""><%= f.text_area :note, rows: "5", class: 'form-control' %></div>
  </div>
</div>
<hr>
