<div class=" form-item row">
  <%= f.hidden_field :id %>
  <div class="col-md-6">
    <%= f.text_field :number , class: 'form-control', placeholder: 'Número do processo'%>
  </div>
  <div class="col-md-4">
    <%= f.date_field :date , class: 'form-control', placeholder: 'Data'%>
  </div>
  <div class="checkbox col-md-2">
    <label>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, I18n.t('remove') %>
    </label>
  </div>
</div>
<div class="form-group form-item row">
  <div class="col-md-12">
    <%= f.text_area :note, rows: "5", class: 'form-control', placeholder: 'Ultima Movimentação' %>
  </div>
  <hr>
</div>


