<div class="row form-item">
  <%= f.hidden_field :id %>
  <div class="form-group col-md-6">
    <div class=""><%= f.input :name, placeholder:true %></div>
  </div>

  <div class="col-md-4">
      <%= f.input :value, as: :currency, input_html: { class: 'money' }, placeholder:true %>
  </div>

  <div class="checkbox col-md-2">
    <label>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, I18n.t('remove') %>
    </label>
  </div>
</div>
<div class="row form-item">
  <div class="form-group col-md-4">
    <div class=""><%= f.input :credit_bank_general_id, :collection => Credit::Bank::General.all.collect {|p| [p.full_name, p.id]}, include_blank: t('Contact.view.none') %></div>
  </div>

  <div class="form-group col-md-3">
    <label class="control-label date optional" for="credit_client_general_lines_attributes_0_date">Data</label>
    <div class=""><%= f.date_field :date,  class: 'form-control', placeholder:true%></div>
  </div>

  <div class="form-group col-md-2">
    <div class=""><%= f.input :status, :collection =>
        [[ 'Análise', 0], ['Documentação Pendente', 1], ['Restrição', 2],
         ['Comitê', 3], ['Negado', 4], ['Bloqueado', 5], ['Liberado', 6] ],
                              include_blank: t('Contact.view.none') %></div>

  </div>
</div>
<div class="row form-item">
  <div class="form-group col-md-12">
    <div class=""><%= f.input :note, rows: "5", class: 'form-control', placeholder:true %></div>
  </div>
</div>
<hr>
