<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.brand') %></th>
      <th><%= t('.cnpj') %></th>
      <th><%= t('.contato') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_client_generals.each do |credit_client_general| %>
      <tr>
        <td><%= credit_client_general.name %></td>
        <td><%= credit_client_general.brand %></td>
        <td><%= credit_client_general.format_cnpj %></td>
        <td>
          <% if !credit_client_general.contatos.nil? %>
            <% credit_client_general.contatos.each do |contato| %>
              <%= "#{contato.full_name}," %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to t('.show'), credit_client_general %></td>
        <td><%= link_to t('.edit'), edit_credit_client_general_path(credit_client_general) %></td>
        <td><%= link_to t('.destroy'), credit_client_general, method: :delete, data: { confirm: t('.message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_credit_client_general_path %>
