<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, 'error') %> <%= I18n.t('cant_save', model: t('Product.model.Product'))%></h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, t('Product.model.Name'), class: 'label-control' %><br>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>
  <hr>
  <fieldset id="telefones">
    <div class="col-md-12">
      <h4><%= t('.documents') %></h4>
    </div><br><br><br>
    <div class="fields">
      <%= f.fields_for :documents do |document| %>
          <%= render 'document_fields', :f => document %>
      <% end %>
    </div>
    <div class='links'>
      <button class="btn " id="btn_telefones"><%= link_to_add_association t('.add_document'), f, :documents %></button>
    </div>
    <hr>
  </fieldset>

  <div class="actions">
    <%= f.submit I18n.t('Send'), class: 'btn btn-primary' %>
  </div>
<% end %>
